<div *ngIf="usuario">  
  <nav class="navbar navbar-expand-sm navbar-light bg-light " style="background-image: url('../../../../assets/images/bg-01.jpg')">
      <div class="container-fluid">
      <a class="navbar-brand" [routerLink]= "['/dashboard']"><img src="../../../../assets/images/airbnb.png" class="rounded float-left" width="50rem" srcset=""></a>
    
      <div class="collapse navbar-collapse p-1" id="navbarSupportedContent">
      
          <ul class="navbar-nav ms-auto mb-2 mb-lg-0"></ul>
        
      <form class="d-flex p-1">
          <input class="form-control mr-2 p-1" type="search" placeholder="Buscar Inmueble" aria-label="Search">
          <button class="btn btn-success ms-auto " type="submit">Search</button>
        </form>
      </div>
      <button class="btn btn-danger ms-auto text-dark " (click)="logout()" type="submit">Logout</button>
      <div *ngIf="!usuario.img">
        <a [routerLink]="['/dashboard/usuario']"><fa-icon [icon]="faUserCircle" class="fa-3x ml-auto" style="color: black;"></fa-icon></a>
      </div>
      <div class="">
        <a [routerLink]="['/dashboard/usuario']"><img [src]="usuario.img" class="ml-4 rounded float-left" width="70rem" srcset=""></a>
      </div>
    </div>
  </nav>
</div>
