<app-navbar></app-navbar>
<div *ngIf="usuario" class="pt-5">
    <div class="card mx-auto" style="width: 35rem;">
        <h2 class="mx-auto"> Usuario: {{usuario.uid}} </h2>
        <img class="card-img-top" [src]="usuario.img" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title mx-auto">{{usuario.nombre}}</h5>
          <p class="card-text"> {{usuario.nombreCompleto}} </p>
          <p class="card-text"> {{usuario.correo}} </p>
          <p class="card-text"> {{usuario.pais}} </p>
          <p class="card-text"> {{usuario.ciudad}} </p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
</div>

